In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm_notebook
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold
from datetime import datetime as dt
import time
import math

In [2]:
#데이터 불러오기
user = pd.read_csv('data/user_spec.csv')
loan = pd.read_csv('data/loan_result.csv')

In [3]:
#데이터셋의 결측치 확인
print(user.isnull().sum())
print('------------------')
print(loan.isnull().sum())

application_id                               0
user_id                                      0
birth_year                               12961
gender                                   12961
insert_time                                  0
credit_score                            105115
yearly_income                               90
income_type                                 85
company_enter_month                     171760
employment_type                             85
houseown_type                               85
desired_amount                              85
purpose                                     85
personal_rehabilitation_yn              587461
personal_rehabilitation_complete_yn    1203354
existing_loan_cnt                       198556
existing_loan_amt                       313774
dtype: int64
------------------
application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                  7495
loan_rate                   7495
is_applied               3257239
dtype: int64

In [4]:
#입사일을 계산하기 위하여 형태 변환 후 월까지의 데아터만 잘라옴
user['company_enter_month'] = user['company_enter_month'].astype(str)
user['enter_month']=user['company_enter_month'].str[:6]

In [5]:
#입사년도를 계산하기 위하여 칼럼추가
user['year']=202206
user.head()

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,year
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,자가,1000000.0,기타,0.0,NaN,4.0,162000000.0,201511,202206
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,NaN,1.0,27000000.0,200702,202206
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,기타가족소유,10000000.0,생활비,0.0,NaN,5.0,15000000.0,202109,202206
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,자가,2000000.0,생활비,0.0,NaN,7.0,344000000.0,201701,202206
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,202109,202206

In [6]:
#입사년도의 데이터를 평균값으로 나타낼시, 오류가 발생함으로 이 데이터의 결측치는 드롭해줌
user['enter_month'] = user['enter_month'].astype(float)
user=user.dropna(subset=['enter_month'])
user.head(5)

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,year
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,자가,1000000.0,기타,0.0,NaN,4.0,162000000.0,201511.0,202206
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,NaN,1.0,27000000.0,200702.0,202206
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,기타가족소유,10000000.0,생활비,0.0,NaN,5.0,15000000.0,202109.0,202206
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,자가,2000000.0,생활비,0.0,NaN,7.0,344000000.0,201701.0,202206
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,202109.0,202206

In [7]:
#나이를 계산하기 위하여 칼럼추가
user['age_year']=2022

In [8]:
user['enter_month'] = user['enter_month'].astype(int)
user.head(5)

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,year,age_year
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,자가,1000000.0,기타,0.0,NaN,4.0,162000000.0,201511,202206,2022
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,NaN,1.0,27000000.0,200702,202206,2022
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,기타가족소유,10000000.0,생활비,0.0,NaN,5.0,15000000.0,202109,202206,2022
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,자가,2000000.0,생활비,0.0,NaN,7.0,344000000.0,201701,202206,2022
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,202109,202206,2022

In [9]:
#입사일을 계산하기 위해서 형식 변환
user['year'] = pd.to_datetime(user['year'],format="%Y%m")
user['enter_month'] = pd.to_datetime(user['enter_month'],format="%Y%m")

In [10]:
user['work_day'] =user['year'] -  user['enter_month']
user.head()

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,...,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,year,age_year,work_day
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,...,1000000.0,기타,0.0,NaN,4.0,162000000.0,2015-11-01,2022-06-01,2022,2404 days
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,...,30000000.0,대환대출,0.0,NaN,1.0,27000000.0,2007-02-01,2022-06-01,2022,5599 days
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,...,10000000.0,생활비,0.0,NaN,5.0,15000000.0,2021-09-01,2022-06-01,2022,273 days
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,...,2000000.0,생활비,0.0,NaN,7.0,344000000.0,2017-01-01,2022-06-01,2022,1977 days
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,...,5000000.0,생활비,0.0,0.0,1.0,16000000.0,2021-09-01,2022-06-01,2022,273 days

In [11]:
user.corr()

,application_id,user_id,birth_year,gender,credit_score,yearly_income,desired_amount,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,age_year
application_id,1.000000,-0.001075,-0.000184,0.000147,-0.000304,0.000910,0.000176,0.000356,-0.002196,-0.000495,0.001346,NaN
user_id,-0.001075,1.000000,0.003234,0.005476,0.004832,0.007938,0.001949,0.001265,0.004728,-0.002576,0.002010,NaN
birth_year,-0.000184,0.003234,1.000000,0.045157,-0.038677,-0.067752,-0.021078,-0.021316,-0.068572,-0.090865,-0.164065,NaN
gender,0.000147,0.005476,0.045157,1.000000,0.019778,0.033287,0.013625,-0.003011,0.007750,0.005696,0.097289,NaN
credit_score,-0.000304,0.004832,-0.038677,0.019778,1.000000,0.041116,0.084190,-0.191753,-0.083116,-0.130988,0.164336,NaN
yearly_income,0.000910,0.007938,-0.067752,0.033287,0.041116,1.000000,0.125402,-0.004319,0.002967,0.009402,0.115568,NaN
desired_amount,0.000176,0.001949,-0.021078,0.013625,0.084190,0.125402,1.000000,-0.000560,0.007228,-0.026095,0.048935,NaN
personal_rehabilitation_yn,0.000356,0.001265,-0.021316,-0.003011,-0.191753,-0.004319,-0.000560,1.000000,0.314795,-0.053946,-0.046056,NaN
personal_rehabilitation_complete_yn,-0.002196,0.004728,-0.068572,0.007750,-0.083116,0.002967,0.007228,0.314795,1.000000,-0.039461,-0.022540,NaN
existing_loan_cnt,-0.000495,-0.002576,-0.090865,0.005696,-0.130988,0.009402,-0.026095,-0.053946,-0.039461,1.000000,0.270385,NaN
existing_loan_amt,0.001346,0.002010,-0.164065,0.097289,0.164336,0.115568,0.048935,-0.046056,-0.022540,0.270385,1.000000,NaN
age_year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

user['birth_year'].fillna(user['birth_year'].mean(), inplace = True)
user['credit_score'].fillna(user['credit_score'].mean(), inplace = True)
user['yearly_income'].fillna(user['yearly_income'].mean(), inplace = True)

user["income_type"].fillna(user["income_type"].mode(),inplace=True)
user["employment_type"].fillna(user["employment_type"].mode(),inplace=True)
user["houseown_type"].fillna(user["houseown_type"].mode(),inplace=True)
user["purpose"].fillna(user["purpose"].mode(),inplace=True)

In [12]:
#성별 
user.gender.fillna(user.gender.median(),inplace=True)

In [13]:
#나이계산
user['Age']=user['age_year']-user['birth_year']
user.head(10)

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,...,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,year,age_year,work_day,Age
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,...,기타,0.0,NaN,4.0,162000000.0,2015-11-01,2022-06-01,2022,2404 days,37.0
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,...,대환대출,0.0,NaN,1.0,27000000.0,2007-02-01,2022-06-01,2022,5599 days,54.0
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,...,생활비,0.0,NaN,5.0,15000000.0,2021-09-01,2022-06-01,2022,273 days,25.0
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,...,생활비,0.0,NaN,7.0,344000000.0,2017-01-01,2022-06-01,2022,1977 days,33.0
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,...,생활비,0.0,0.0,1.0,16000000.0,2021-09-01,2022-06-01,2022,273 days,22.0
5,1559350,746993,1994.0,1.0,2022-06-07 09:55:03,600.0,35000000.0,FREELANCER,20160401.0,기타,...,생활비,0.0,NaN,1.0,NaN,2016-04-01,2022-06-01,2022,2252 days,28.0
7,1146166,588743,1992.0,0.0,2022-06-07 17:19:33,750.0,46000000.0,EARNEDINCOME,20151001.0,정규직,...,생활비,0.0,0.0,NaN,NaN,2015-10-01,2022-06-01,2022,2435 days,30.0
8,1153613,578866,1991.0,1.0,2022-06-07 14:55:49,560.0,38000000.0,EARNEDINCOME,20181101.0,정규직,...,대환대출,0.0,NaN,5.0,38000000.0,2018-11-01,2022-06-01,2022,1308 days,31.0
9,311143,646289,2000.0,1.0,2022-06-07 10:17:19,530.0,28000000.0,EARNEDINCOME,20220601.0,계약직,...,생활비,0.0,0.0,5.0,19000000.0,2022-06-01,2022-06-01,2022,0 days,22.0
10,1607787,555995,1980.0,1.0,2022-06-07 09:47:01,640.0,57000000.0,EARNEDINCOME,20220501.0,계약직,...,대환대출,0.0,0.0,4.0,62000000.0,2022-05-01,2022-06-01,2022,31 days,42.0

In [14]:
# 자기회생여부 전처리
# 1. personal_rehabilitation_yn == 0 -> personal_rehabilitation_complete_yn = 0
# 2. personal_rehabilitation_complete_yn == 1 ->  personal_rehabilitation_yn == 1
# 3. personal_rehabilitation_yn == 0 인데 personal_rehabilitation_complete_yn == 1이면 제거 => 1번 전처리로 처리됨.

# 1
indexs = user[(user['personal_rehabilitation_yn'] == 0 ) & (user['personal_rehabilitation_complete_yn'] != 0)].index
user.loc[indexs, ['personal_rehabilitation_complete_yn']] = 0

# 2
indexs_2 = user[(user['personal_rehabilitation_complete_yn'] == 1 ) & (user['personal_rehabilitation_yn'] != 1)].index
indexs_2
user.loc[indexs_2, ['personal_rehabilitation_yn']] = 1

user[user['personal_rehabilitation_yn'].isnull()]

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,...,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,year,age_year,work_day,Age
47,1349293,521056,1995.0,0.0,2022-06-07 16:57:35,560.0,30000000.0,PRIVATEBUSINESS,20200701.0,정규직,...,대환대출,NaN,NaN,4.0,28000000.0,2020-07-01,2022-06-01,2022,700 days,27.0
102,865393,302309,1991.0,0.0,2022-06-07 07:44:15,620.0,36000000.0,EARNEDINCOME,20210801.0,정규직,...,대환대출,NaN,NaN,NaN,NaN,2021-08-01,2022-06-01,2022,304 days,31.0
148,591548,147098,1985.0,0.0,2022-06-07 13:21:16,630.0,54000000.0,EARNEDINCOME,20210601.0,정규직,...,생활비,NaN,NaN,NaN,NaN,2021-06-01,2022-06-01,2022,365 days,37.0
155,1617530,379488,1976.0,1.0,2022-04-20 10:08:40,600.0,100000000.0,PRIVATEBUSINESS,201210.0,정규직,...,생활비,NaN,NaN,1.0,14000000.0,2012-10-01,2022-06-01,2022,3530 days,46.0
159,1232849,575347,1982.0,1.0,2022-04-20 11:49:52,620.0,48000000.0,EARNEDINCOME,202202.0,계약직,...,생활비,NaN,NaN,1.0,NaN,2022-02-01,2022-06-01,2022,120 days,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394210,316356,53701,1996.0,1.0,2022-03-22 10:01:38,730.0,60000000.0,PRIVATEBUSINESS,202105.0,정규직,...,사업자금,NaN,NaN,1.0,NaN,2021-05-01,2022-06-01,2022,396 days,26.0
1394211,1864587,489900,2000.0,1.0,2022-03-22 14:55:32,590.0,25000000.0,FREELANCER,202106.0,기타,...,사업자금,NaN,NaN,NaN,NaN,2021-06-01,2022-06-01,2022,365 days,22.0
1394213,1319606,173524,1983.0,1.0,2022-03-22 07:34:32,750.0,75000000.0,EARNEDINCOME,200908.0,정규직,...,대환대출,NaN,NaN,8.0,200000000.0,2009-08-01,2022-06-01,2022,4687 days,39.0
1394214,1482466,766546,1975.0,1.0,2022-03-22 22:12:35,640.0,50000000.0,EARNEDINCOME,201705.0,정규직,...,대환대출,NaN,NaN,10.0,117000000.0,2017-05-01,2022-06-01,2022,1857 days,47.0
1394215,816537,3864,1977.0,0.0,2022-03-22 08:55:14,NaN,35000000.0,FREELANCER,201103.0,기타,...,생활비,NaN,NaN,NaN,NaN,2011-03-01,2022-06-01,2022,4110 days,45.0

In [15]:
# 위에 텍스트 읽고 실행
indexs_3 = user[(user['personal_rehabilitation_yn'].isnull()) & (user['personal_rehabilitation_complete_yn'].isnull()) ].index
user.loc[indexs_3, ['personal_rehabilitation_yn']] = 0
user.loc[indexs_3, ['personal_rehabilitation_complete_yn']] = 0

user.isnull().sum()

application_id                              0
user_id                                     0
birth_year                              10007
gender                                      0
insert_time                                 0
credit_score                            87904
yearly_income                               1
income_type                                 0
company_enter_month                         0
employment_type                             0
houseown_type                               0
desired_amount                              0
purpose                                     0
personal_rehabilitation_yn                  0
personal_rehabilitation_complete_yn         0
existing_loan_cnt                      168327
existing_loan_amt                      266036
enter_month                                 0
year                                        0
age_year                                    0
work_day                                    0
Age                                     10007
dtype: int64

In [16]:
indexs_1 = user[(user['existing_loan_cnt'].isnull()) & (user['existing_loan_amt'].isnull()) ].index
user.loc[indexs_1, ['existing_loan_cnt']] = 0
user.loc[indexs_1, ['existing_loan_amt']] = 0

In [17]:
df1 = user.loc[user['existing_loan_cnt'] == 1 & user['existing_loan_amt'].notnull()]
mean = user['existing_loan_amt'].describe()['mean']

user['existing_loan_amt'].fillna(math.floor(mean), inplace = True)

In [18]:
df1.isnull().sum()

application_id                            0
user_id                                   0
birth_year                              807
gender                                    0
insert_time                               0
credit_score                           2723
yearly_income                             1
income_type                               0
company_enter_month                       0
employment_type                           0
houseown_type                             0
desired_amount                            0
purpose                                   0
personal_rehabilitation_yn                0
personal_rehabilitation_complete_yn       0
existing_loan_cnt                         0
existing_loan_amt                         0
enter_month                               0
year                                      0
age_year                                  0
work_day                                  0
Age                                     807
dtype: int64

In [19]:
purpose = {'purpose' : {'ETC':'기타', 'INVEST':'투자','LIVING':'생활비','BUSINESS':'사업자금','BUYCAR':'자동차구입','BUYHOUSE':'주택구입','SWITCHLOAN':'대환대출','HOUSEDEPOSIT':'전월세보증금'}}
user = user.replace(purpose)
user['purpose'].unique()

array(['기타', '대환대출', '생활비', '사업자금', '주택구입', '전월세보증금', '투자', '자동차구입'],
      dtype=object)

In [20]:
#df1.to_csv('user_spec_clean.csv')

In [21]:
user.isnull().sum()

application_id                             0
user_id                                    0
birth_year                             10007
gender                                     0
insert_time                                0
credit_score                           87904
yearly_income                              1
income_type                                0
company_enter_month                        0
employment_type                            0
houseown_type                              0
desired_amount                             0
purpose                                    0
personal_rehabilitation_yn                 0
personal_rehabilitation_complete_yn        0
existing_loan_cnt                          0
existing_loan_amt                          0
enter_month                                0
year                                       0
age_year                                   0
work_day                                   0
Age                                    10007
dtype: int64

In [22]:
total_data = pd.concat([user,loan])

In [23]:
total_data.isnull().sum()

application_id                                0
user_id                                13527363
birth_year                             13537370
gender                                 13527363
insert_time                            13527363
credit_score                           13615267
yearly_income                          13527364
income_type                            13527363
company_enter_month                    13527363
employment_type                        13527363
houseown_type                          13527363
desired_amount                         13527363
purpose                                13527363
personal_rehabilitation_yn             13527363
personal_rehabilitation_complete_yn    13527363
existing_loan_cnt                      13527363
existing_loan_amt                      13527363
enter_month                            13527363
year                                   13527363
age_year                               13527363
work_day                               13527363
Age                                    13537370
loanapply_insert_time                   1222456
bank_id                                 1222456
product_id                              1222456
loan_limit                              1229951
loan_rate                               1229951
is_applied                              4479695
dtype: int64

In [24]:
import seaborn as sns
plt.figure(figsize=(15,8))

In [ ]:
sns.boxplot(data=total_data['personal_rehabilitation_complete_yn'])

In [ ]:
sns.boxplot(data=total_data['existing_loan_cnt'])

In [ ]:
sns.boxplot(data=total_data['existing_loan_amt'])

In [26]:
# 이상치들 상한값, 하한값으로 대체
def outlier(df):
    IQR = df.quantile(0.75) - df.quantile(0.25)
    line_down = df.quantile(0.25) - IQR*1.5
    line_up = df.quantile(0.75) + IQR*1.5

    df = df.clip(line_down, line_up)

    return df

total_data['DurationOfPitch'] = outlier(total_data['DurationOfPitch'])
total_data['NumberOfTrips'] = outlier(total_data['NumberOfTrips'])

KeyError: 'DurationOfPitch'